/* variáveis simples */
:root {
  --bg: #f7fafc;
  --card: #ffffff;
  --accent: tomato; /* tomato lindao padrão */
  --muted: #6b7280;
  --danger: #dc3545; /* Vermelho cor de erro, q generico */
  --radius: 10px;
  --gap: 12px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background: var(--bg);
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* layout base - Mantém footer em baixo */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 16px;
  flex: 1; /* Ocupa o espaço restante */
  width: 100%;
}

/* utilitários simples */
.card-panel {
  background: var(--card);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.muted {
  color: var(--muted);
  font-size: 13px;
}

/* Alerta de Erro  */
.alert {
  padding: 10px;
  background: #ffe6e6;
  border: 1px solid #ffcccc;
  border-radius: 6px;
  color: #cc0000;
  margin-top: 10px;
  font-size: 14px;
}

/* Botões Padrões */
.btn,
button {
  font-family: inherit; /* Herda a fonte do corpo */
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover,
button:hover {
  opacity: 0.9;
}

.primary {
  background: var(--accent);
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

.btn-danger {
  background: var(--danger);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
}

/* Inputs Globais (Para garantir consistência) */
input,
select {
  font-family: inherit;
  border: 1px solid #d1d5db;
  outline: none;
}

input:focus,
select:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}


@media (min-width: 768px) {
  .main {
    padding: 32px;
    max-width: 900px;
    margin: 0 auto; 
  }
}
